table{
  width: 100%;

}
.mat-column-id{
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}
.mat-column-title{
  padding-left: 20px;
  font-size: 15px;
}
.mat-column-completed{
  padding-left: 15px;
  font-style: italic;
}
