<div>
  <mat-toolbar>
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-button (click)="sidenav.toggle() " >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <a class="companyName" >
        <span>Desafio Framework Digital</span>
      </a>
      <span class="spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <a mat-button routerLink="./home">Home</a>
        <a mat-button routerLink="./albums">Albuns</a>
        <a mat-button routerLink="./posts">Posts</a>
        <a mat-button routerLink="./todos">Todos</a>
      </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="container">
        <mat-sidenav #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
            <div fxLayout="column">
              <a mat-button routerLink="./home">Home</a>
              <a mat-button routerLink="./albums">Albuns</a>
              <a mat-button routerLink="./posts">Posts</a>
              <a mat-button routerLink="./todos">Todos</a>
            </div>
        </mat-sidenav>
  </mat-sidenav-container>
</div>

<router-outlet></router-outlet>
